body{
    background-color: aqua;
    text-align: center;
}

img[class="my-photo"]{
    border: 5px solid greenyellow;
    border-radius: 10px;
}
blockquote{
    text-align: right;
    font-style: italic;
}

h2, p, li{
    text-align: left;
}